# Environment & Secrets
.env
*.env.local

# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Database & Large Dumps
*.sql
*.sqlite3

# Docker & WAHA data
waha-data/

# IDE & OS
.DS_Store
.vscode/*
!.vscode/settings.json
.idea/
